<header class="navbar navbar-fixed-top">
	<div class="navbar-inner" id="navbar">
		<div class="container">
			<button class="btn btn-navbar" data-target=".nav-collapse" 
					data-toggle="collapse" type="button">
				<span class="icon-bar"> </span>
				<span class="icon-bar"> </span>
				<span class="icon-bar"> </span>
			</button>
			<%= link_to "[EthiKelLee]", root_path, id: "logo" %>
			<div class="nav-collapse collapse">
				<ul class="nav pull-right">
				  <% if request.path_parameters[:controller] == 'static_pages' && request.path_parameters[:action] == 'home' %>
  				  <li><%= link_to 'Showcase',"#showcase"%></li>
  				  <li><%= link_to 'Workflow',"#workflow"%></li>
  				  <li><%= link_to 'About',"#who_are_they"%></li>
            <li class="divider-vertical"></li>
          <% end %>
					<li><%= link_to "Home",				root_path %></li>
					<li><%= link_to "Portfolio",			about_path %></li>
					<li><%= link_to "Contact",			contact_path %></li>
					<li><%= link_to "Client Sign In",	'#' %></li>
				</ul>
			</div>
		</div>
	</div>
</header>