<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button class="btn btn-navbar" data-target=".nav-collapse" 
					data-toggle="collapse" type="button">
				<span class="icon-bar"> </span>
				<span class="icon-bar"> </span>
				<span class="icon-bar"> </span>
			</button>
			<%= link_to "[EthiKelLee]", root_path, id: "logo" %>
			<div class="nav-collapse collapse">
				<ul class="nav pull-right">
					<li><%= link_to "Home",				root_path %></li>
					<li><%= link_to "Portfolio",			about_path %></li>
					<li><%= link_to "Contact",			contact_path %></li>
					<li><%= link_to "Client Sign In",	'#' %></li>
				</ul>
			</div>
		</div>
	</div>
</header>